RESTIC_REPOSITORY={{ restic_repository }}/{{ env_name }}
RESTIC_PASSWORD={{ restic_password }}
PGHOST=127.0.0.1
PGPORT={{ env_cfg.postgres_port }}
PGUSER={{ env_cfg.postgres_user }}
PGPASSWORD={{ env_cfg.postgres_backup_password }}
PGDATABASE={{ env_cfg.postgres_db }}
BACKUP_HEALTHCHECK_URL={{ backup_healthcheck_url }}
ALERT_WEBHOOK_URL={{ monitoring_alert_webhook_url }}
APP_ENVIRONMENT={{ env_name }}
{% for key, value in restic_environment.items() %}
{{ key }}={{ value }}
{% endfor %}
