RESTIC_REPOSITORY={{ restic_repository }}
RESTIC_PASSWORD={{ restic_password }}
PGHOST={{ postgres_backup_host }}
PGPORT={{ postgres_backup_port }}
PGUSER={{ postgres_backup_user }}
PGPASSWORD={{ postgres_backup_password }}
PGDATABASE={{ postgres_backup_db }}
{% for key, value in restic_environment.items() %}
{{ key }}={{ value }}
{% endfor %}
