RESTIC_REPOSITORY={{ restic_repository }}
RESTIC_PASSWORD={{ restic_password }}
PGHOST={{ postgres_backup_host }}
PGPORT={{ postgres_backup_port }}
PGUSER={{ postgres_backup_user }}
PGPASSWORD={{ postgres_backup_password }}
PGDATABASE={{ postgres_backup_db }}
BACKUP_HEALTHCHECK_URL={{ backup_healthcheck_url }}
ALERT_WEBHOOK_URL={{ monitoring_alert_webhook_url }}
APP_ENVIRONMENT={{ group_names | intersect(['stage', 'prod']) | first | default('prod') }}
{% for key, value in restic_environment.items() %}
{{ key }}={{ value }}
{% endfor %}
